
/*I-top*/
 #ac {
border: 3px solid #201772;
border-radius: 5px;

}
/*Footer*/
#a{
color: black;
background-color: #CDE6B8;
}

/*Link*/
#ad {
border: 3px solid #201772;
border-radius: 5px;
background-color: ;
}
/*I-view profile*/
#bb{
background-color: #CDE6B8;
}
/*I-welcome*/
#ae {
border: 3px solid  #CDE6B8;
border-radius: 5px;
background-color:  #CDE6B8;
}